__pycache__/
*.py[cod]
*$py.class
.env
venv/
# User Data
downloads/
cookies/*
!cookies/.gitkeep
logs/
*.mp4
*.mkv
*.webm
*.jpg
*.jpeg
*.png
.DS_Store
.idea/
.vscode/
firebase-auth.json
docs/VIP_GUIDE.md
